* {
	margin: 0;
	padding: 0;
}

nav {
	background-color: orange;
	justify-content: space-between;
	display: flex;
	height: 10vh;
}

#brand {
	display: flex;
	align-items: center;
}

#logo {
	margin-left: 20px;
	font-size: 35px;
}

#brand-name {
	margin-left: 10px;
}

#links-container {
	display: flex;
	align-items: center;
}

a {
	margin: 0px 20px;
	font-size: 25px;
	text-decoration: none;
}

main {
	background-color: lightyellow;
	text-align: center;
	display: flex;
	height: 85vh;
}

h1 {
	margin: 10px;
}

#side-nav {
	background-color: yellow;
	display: flex;
	flex-direction: column;
	width: 10vw;
}

.side-nav-links {
	margin: 10px 0px;
}

#main-content {
	width: 90vw;
}

#menu-a, #menu-b {
	justify-content: space-around;
	display: flex;
	margin: 10px;
}

img {
	width: 250px;
	height: 200px;	
}

h3  {
	margin: 10px;
}

footer {
	background-color: orange;
	justify-content: center;
	display: flex;
	align-items: center;
	height: 5vh;	
}